{{- $theme := site.Params.defaultTheme | default "auto" }}
<!DOCTYPE html>
{{- if eq $theme "dark" }}
<html lang="{{ site.Language.LanguageCode }}" dir="{{ .Language.LanguageDirection | default "auto" }}" data-theme="dark">
{{- else if eq $theme "light" }}
<html lang="{{ site.Language.LanguageCode }}" dir="{{ .Language.LanguageDirection | default "auto" }}" data-theme="light">
{{- else }}
<html lang="{{ site.Language.LanguageCode }}" dir="{{ .Language.LanguageDirection | default "auto" }}" data-theme="auto">
{{- end }}

<head>
    {{- partial "head.html" . }}
</head>

<body class="{{ if .IsHome }}home{{ end }}list" id="top">
    {{- partial "header.html" . }}
    <main class="main">
        {{- block "main" . }}{{- end }}
    </main>
    {{- partial "footer.html" . }}
</body>

{{ if .Store.Get "hasMermaid" }}
  <script type="module">
    import mermaid from 'https://cdn.jsdelivr.net/npm/mermaid/dist/mermaid.esm.min.mjs';
    mermaid.initialize({ startOnLoad: true });
  </script>
{{ end }}
{{ if .Params.math }}
  {{ partial "math.html" . }}
{{ end }}
</html>
